.direnv
.env.local
.env.hcloud
.env.secret
.env.secrets
.env.vault
/group_vars/
/host_vars/
roles/cloudalchemy.*
build/clone
hosts
ssh.cfg
tags
__pycache__
plugins/yaml2md/build
plugins/yaml2md/yaml2md.egg-info
.terraform
inventories/*
!inventories/.gitkeep
