secrets:
  global:
    scopes:
      public: {}
      private:
        object_storage_bucket: "{{ object_storage.bucket }}"
        object_storage_endpoint: "{{ object_storage.endpoint }}"
        object_storage_region: "{{ object_storage.region }}"
        object_storage_access_key: "{{ object_storage.access_key }}"
        object_storage_access_secret: "{{ object_storage.access_secret }}"
        object_storage_version: "{{ object_storage.version }}"
        twilio_phone_number: "{{ twilio.phone_number }}"
        twilio_account_sid: "{{ twilio.account_sid }}"
        twilio_auth_token: "{{ twilio.auth_token }}"
  peatio:
    scopes:
      public: {}
      private:
        log_level: info
        app_name: peatio
        es_url: "{{ service_names.elasticsearch }}"
        kafka_brokers: "{{ kafka_brokers }}"
        questdb_host: "{{ service_names.questdb }}"
        vault_addr: "{{ service_names.vault }}"
        vault_app_name: "{{ vault_app_name }}"
        deposit_address_grpc_addr: "{{ __deposit_address_grpc_addr }}"
        withdraw_grpc_addr: "{{ __withdraw_grpc_addr }}"
        trade_executor_grpc_addr: "{{ __trade_executor_grpc_addr }}"
        order_processor_grpc_addr: "{{ __order_processor_grpc_addr }}"
        matching_grpc_addr: "{{ __matching_grpc_addr }}"
        code_grpc_addr: "{{ __code_grpc_addr }}"
        p2p_grpc_addr: "{{ __p2p_grpc_addr }}"
        conversation_grpc_addr: "{{ __conversation_grpc_addr }}"
        notify_grpc_addr: "{{ __notify_grpc_addr }}"
      secrets:
        jwt_public_key: "{{ jwt_public_key }}"
        event_api_jwt_public_key: "{{ event_api_jwt_public_key }}"
  barong:
    scopes:
      public: {}
      private:
        log_level: info
        app_name: barong
        domain: "http://www.{{ external_domain }}"
        es_url: "{{ service_names.elasticsearch }}"
        kafka_brokers: "{{ kafka_brokers }}"
        questdb_host: "{{ service_names.questdb }}"
        vault_addr: "{{ service_names.vault }}"
        vault_app_name: "{{ vault_app_name }}"
        code_grpc_addr: "{{ __code_grpc_addr }}"
      secrets:
        secret_key_base:
        jwt_public_key: "{{ jwt_public_key }}"
        event_api_jwt_public_key: "{{ event_api_jwt_public_key }}"
        jwt_private_key_path: /etc/jwt.key
