apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "{{ service_names['strimzi-cluster'] }}-connect-console"
  namespace: "{{ namespace }}"
spec:
  podSelector:
    matchLabels:
      strimzi.io/cluster:
      strimzi.io/kind: KafkaConnect
      strimzi.io/name: "{{ service_names['strimzi-cluster'] }}-connect"
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - protocol: TCP
          port: 8083
      from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: console
