apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ jwt_secret.name }}"
  namespace: "{{ namespace }}"
data:
  .{{ jwt_secret.file }}: {{ lookup('file', __jwt_private_key_file) | b64encode }}
