secrets:
  # global:
  #   scopes:
  #     public:
  peatio:
    scopes:
      public: {}
      private:
        esUrl: "{{ es_url }}"
        kafkaBrokers: "{{ kafka_brokers }}"
        questdbHost: "{{ questdb_host }}"
        vaultAddr: "{{ vault_addr }}"
        vaultAppName: "{{ vault_app_name }}"
        eventApiJwtPublicKey: "{{ event_api_jwt_public_key }}"
        jwtPublicKey: "{{ jwt_public_key }}"
        depositAddressGrpcAddr: "{{ deposit_address_grpc_addr }}"
        withdrawGrpcAddr: "{{ withdraw_grpc_addr }}"
        tradeExecutorGrpcAddr: "{{ trade_executor_grpc_addr }}"
        orderProcessorGrpcAddr: "{{ order_processor_grpc_addr }}"
        matchingGrpcAddr: "{{ matching_grpc_addr }}"
        codeGrpcAddr: "{{ code_grpc_addr }}"
        p2pGrpcAddr: "{{ p2p_grpc_addr }}"
        conversationGrpcAddr: "{{ conversation_grpc_addr }}"
        notifyGrpcAddr: "{{ notify_grpc_addr }}"
