apiVersion: v1
kind: Service
metadata:
  name: {{ include "peatio.fullname" . }}
  labels:
    {{- include "peatio.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.ports.api }}
      targetPort: api
      protocol: TCP
      name: {{ .Values.service.name }}-api
    - port: {{ .Values.service.ports.grpc }}
      targetPort: grpc
      protocol: TCP
      name: {{ .Values.service.name }}-grpc
  selector:
    {{- include "peatio.selectorLabels" . | nindent 4 }}
